<script src="js/modal.js"></script>

<!-- Initialize Swiper -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
	var swiper = new Swiper(".mySwiper", {
		loop: true,
		effect: "coverflow",
		grabCursor: true,
		centeredSlides: true,
		slidesPerView: 'auto',
		autoplay: {
			delay: 5000,
		},
		coverflowEffect: {
			rotate: -10,
			stretch: 0,
			depth: 100,
			modifier: 2,
			slideShadows: true,
		},
		pagination: {
			el: ".swiper-pagination",
		},
	});
</script>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="js/form.js"></script>

<!-- Footer -->
</div>
</body>

</html>
