<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="Developpeur Web à Nice & à distance, je prend en charge la création de site Vitrine, E-commerce & Sur mesure." />
	<title>Developpeur Web | Nice & France | Gregooz</title>

	<!-- ===== CSS ===== -->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/button.css">
	<link rel="stylesheet" href="../css/form.css">
	<link rel="stylesheet" href="../css/modal.css">
	<link rel="stylesheet" href="../css/swiper.css">

	<!-- ===== Fonts ===== -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Montserrat:wght@700&display=swap"
		rel="stylesheet">

	<!-- ===== Boxicons CSS ===== -->
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<!-- ===== Swipper CSS ===== -->
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0ZDK6Y95MJ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-0ZDK6Y95MJ');
	</script>
</head>

<body>
