* {
	margin: 0;
	padding: 0;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: black;;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Lato';
	color: #EAEAEA;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form span {
	display: flex;
	flex-direction: column;
}

form label {
	color: #EAEAEA;
}

form input {
	cursor: pointer;
}

form .button {
	width: 50%;
	padding: 10px;
	font-family: 'Lato';
	border-radius: 5px;
	background-color: #EAEAEA;
	color: black;;
	border: 2px solid #EAEAEA;
	transition-duration: 0.4s;
}


.button:hover {
	background-color: black;;
	color: #EAEAEA;
	border-color: #EAEAEA;
}
