input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
	width: 100%;
	max-width: 200px;
	padding: 12px;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #080705;
	outline: none;
	resize: vertical;
}

#projet {
	max-width: 100%;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	color: #401EB8;
	background: transparent;
	border: none;
	cursor: pointer;
	float: right;
	transition: 0.5s;
	font-weight: 600;
	font-size: 16px;
}

input[type=submit]:hover {
	color: #080705;
}

.form-container {
	border-radius: 15px;
	background-color: #EAEAEA;
	padding: 20px;
	width: 90%;
	max-width: 800px;
}

.form-container h3 {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.form-row:after {
	content: "";
	display: table;
	clear: both;
}

.input-group span,
#submit-error {
	font-size: 14px;
	color: red;
}

.input-group span i,
#submit-error i {
	font-size: 18px;
	color: green;
}

#submit-error {
	float: right;
	margin-right: 20px;
}

@media screen and (max-width: 800px) {
	.input-group {
		display: flex;
		flex-direction: column;
	}

	.input-group span {
		margin-top: 2px;
	}
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}

	.col-25 {
		margin-top: 10px;
		margin-bottom: -10px;
	}

	#submit-error {
		float: none;
	}

	.form-container {
		width: 100%;
	}
}
